﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web


@*
    Macro to list all child pages under a specific page in the content tree.

    How it works:
        - Confirm the startNodeId macro parameter has been passed in with a value
        - Loop through all child pages
        - Display a list of link to those pages, sorted by the value of the propertyAlias

    Macro Parameters To Create, for this macro to work:
    Alias:startNodeId     Name:Select starting page    Type:Content Picker
*@

@{ 
    var startNodeId = 1090;
}

@if (startNodeId != null)
{
    @* Get the starting page *@
    var startNode = Umbraco.TypedContent(startNodeId);
    var selection = startNode.Children.Where(x => x.IsVisible()).Take(3).ToArray();

    if (selection.Length > 0)
    {
        <div class="list-group">
            @foreach (var item in selection)
            {
                <a href="@item.Url" class="list-group-item list-group-item-action">@item.Name</a>
            }
        </div>
    }
}