﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web


@*
    This snippet makes a list of links to the of children of the current page using an unordered HTML list.

    How it works:
    - It uses the Children method to get all child pages
    - It then uses the OrderByDescending() method, which takes the property to sort. In this case the page's creation date.
    - It then generates links so the visitor can go to each page
*@

@{ 
    int numOfProjects = Convert.ToUInt16(Model.MacroParameters["numOfProjects"]);
    var selection =  Model.Content.Children
                .Where(x => x.DocumentTypeAlias == "projectOverview")
                .First()
                .Children
                .Where(x => x.HasValue("projectStatus") && Umbraco.GetPreValueAsString(x.GetPropertyValue<int>("projectStatus")) == "Completed")
                .Take(numOfProjects)
                .ToArray();
}

@if (selection.Length > 0)
{
    <div class="list-group">
        @foreach (var item in selection)
        {
            <a href="@item.Url" class="list-group-item list-group-item-action">@item.Name</a>
        }
    </div>
}