﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web


@*
    This snippet makes a list of links to the of children of the current page using an unordered HTML list.

    How it works:
    - It uses the Children method to get all child pages
    - It then generates links so the visitor can go to each page
*@

@{ var selection = Model.Content.Children.ToArray(); }

@if (selection.Length > 0)
{
    <div class="list-group">
        @foreach (var item in selection)
        {
            <a href="@item.Url" class="list-group-item list-group-item-action col-6">@item.Name</a>
        }
    </div>
}