﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers

@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@
@{ 
    @* opretter 2 variabler en som har sidens root den anden ligger alle undersider i et array *@
    var root = Model.Content.Site();
    var selection = root.Children.Where(x => x.IsVisible()).ToArray(); 
}

@if (selection.Length > 0)
{
<nav class="navbar navbar-expand-lg navbar-dark bg-primary nav-pos">
<div class="center">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        @* hard koder Root menupunkt *@
        <li class="nav-item @(Model.Content.Level == 1 ? "active" : null)">
            <a class="nav-link" href="@root.Url">@root.Name</a>
        </li>
        
        @* dette foreach looper alle undersider igennem*@
        @foreach (var item in selection)
        {
            @* li for klassen active vis man er inde på en parrent eller underside til parrent *@
            <li class="nav-item @(item.IsAncestorOrSelf(Model.Content) ? "active" : null)">
            @* min if kikker på om menupunkt er login og om der er logget nogen bruger ind vis begge
            disse krav er opfyldt laver den min login om til profile i sted*@
            @if (item.Name == "Login" && Members.GetCurrentLoginStatus().IsLoggedIn) {
                <a class="nav-link" href="@item.Url">Profile</a>
            }@* denne else if skifter mit projects menupunkt ud med min projects dropdown *@
            else if (item.Name == "Projects") {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Projects
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @* bruger min dropdown marco som lister alle undersider fra project overview *@
                        @Umbraco.RenderMacro("dropDownLost")
                    </div>
                </li>
                
            } @* else tilføjer bare de normale undersider *@
            else {
                <a class="nav-link" href="@item.Url">@item.Name</a>
            }
            </li>
        }
        
        
    </ul>
  </div>
  @* vis man er logged ind kommer der en lille box over i højre side af menu *@
  @if(Members.GetCurrentLoginStatus().IsLoggedIn){
    <div class="menu-login row">
        @* skriver uf hvem der er logged ind *@
        <p class="p">Hello @Members.GetCurrentLoginStatus().Name</p>
        @* laver et redirect variable to min root *@
        @{
            var logoutModel = new PostRedirectModel();
            logoutModel.RedirectUrl = "/";
        }
        @* når man trykker på logud knappen køre min logincontroller logger den dig ud og redirecter dig til den skrevet redirect *@
        @using(Html.BeginUmbracoForm<UmbLoginStatusController>("HandleLogout")) {
        <button class="btn btn-danger fr logout">Logout</button>
        @Html.HiddenFor(m => logoutModel.RedirectUrl)
        }
        <p style="clear:both;"></p>
    </div>
  }
  
  
    
    
  
</div>
</nav>
}