﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.AboutUs>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}

<head>
    <Title>@Umbraco.Field("siteTitle")</Title>
    
    <meta name="description" content="@Umbraco.Field("metaDescription")">
    <meta name="keywords" content="@Umbraco.Field("metaKeywords")">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:700i" rel="stylesheet"> 
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/jquery-3.3.1.min.js"></script>
</head>
<body>
    
    <header class="wrapper clearfix">
        <div class="header">
            @{
                var image = Umbraco.TypedMedia(@Umbraco.Field("logo", recursive: true).ToString());
                <img src="@image.Url" class="header-img" alt="logo"/>
            }
            <h1 class="h1">@Umbraco.Field("siteTitle", recursive: true)</h1>
        </div>
    
        @Umbraco.RenderMacro("MainMenu")
        
    </header>
    <div class="center bottom">
        @Html.GetGridHtml(@Model, "myGrid", "Bootstrap3-Fluid")
    </div>
    
    <footer class="container-fluid bg-primary cos-footer">
        <p>&copy @Umbraco.Field("footer", recursive: true)</p>
    </footer>
    
</body>

