﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ArticlesItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div class="center">
    <h2>@Model.ArticleTitle</h2>
    <p>@Model.ArticleContent</p>
</div>