﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ArticlesOverview>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div class="center">
    <h2>@Model.ArticlesTitle</h2>
    <p>@Model.ArticlesBodyText</p>
    @Umbraco.RenderMacro("list")
</div>