﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ContactPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div class="contact-center">
    <h2>Contact Us</h2>
    @Html.Action("Index", "ContactFormSurface")
</div>