﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
    
    <div>
        <div class="row">
            <p>@Model.MainContent</p>
        </div>
        
        <div class="row">
            <div class="col-6">
                <h3>News</h3>
                @Umbraco.RenderMacro("listnews")
            </div>
        
            <div class="col-6">
                <h3>Project</h3>
                @Umbraco.RenderMacro("listNewestProjects", new {numOfProjects="5"})
            </div>
        </div>
    </div>