﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Master>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}

<!doctype html>
<head>
    <Title>@Umbraco.Field("siteTitle")</Title>

    <meta name="description" content="@Umbraco.Field("metaDescription")">
    <meta name="keywords" content="@Umbraco.Field("metaKeywords")">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:700i" rel="stylesheet">
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>

    <header class="wrapper clearfix">
        <div class="header">
            @{
                var image = Umbraco.TypedMedia(@Umbraco.Field("logo", recursive: true).ToString());
                <img src="@image.Url" class="header-img" alt="logo"/>
            }
            <h1 class="h1">@Umbraco.Field("siteTitle", recursive: true)</h1>
        </div>
        
        @Umbraco.RenderMacro("MainMenu")

    </header>
    <div class="center bottom">
            @RenderBody()
    </div>

    <footer class="container-fluid bg-primary cos-footer">
        <p>&copy @Umbraco.Field("footer", recursive: true)</p>
    </footer>
    @*@Model.Value("footer", fallback: Fallback.ToAncestors)*@
</body>