﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.MemberList>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Newtonsoft.Json;
@using Umbraco.Web.Models;
@{
	Layout = "Master.cshtml";
    var memberService = ApplicationContext.Current.Services.MemberService;
    var active = memberService.GetMembersByGroup("Active");
    var guest = memberService.GetMembersByGroup("Guest");
}

<h2>Active Members</h2>
<br>
<div class="row">
    
@foreach (var member in active) {
    
    <div class="user row">
        <div class="col-5">  
        @if(member.GetValue("photo") != null) {
            string image = member.GetValue<string>("photo");
            if(image != null) {
            ImageCropDataSet imageCrop = JsonConvert.DeserializeObject<ImageCropDataSet>(image);
            <img src="@imageCrop.Src.GetCropUrl(width: 100)"/>
            }
        }
        </div>
        
        <div class="col-7">  
        <p>@member.Name</p>
        
        @member.GetValue("address")<br>
        @member.GetValue("city")
        @member.GetValue("zip") <br>
        Email: @member.Email<br>
        Skills: 

        @if (member.GetValue("skills") != null)
        {
            string[] skills = member.GetValue("skills").ToString().Split(',');
    
            string skillString = 
            string.Join(", ", from skill in skills 
            select umbraco.library.GetPreValueAsString(Convert.ToInt32(skill)));
            <span>@skillString</span>
        }
        </div>
    </div>
    <p style="clear:both;"></p>
}
</div>
<br />
<h2>Guest Members</h2>
<br>
<div class="row">
    
@foreach (var member in guest) {
    
    <div class="user row">
        <div class="col-5">  
        @if(member.GetValue("photo") != null) {
            string image = member.GetValue<string>("photo");
            if(image != null) {
            ImageCropDataSet imageCrop = JsonConvert.DeserializeObject<ImageCropDataSet>(image);
            <img src="@imageCrop.Src.GetCropUrl(width: 100)"/>
            }
        }
        </div>
        
        <div class="col-7">  
        <p>@member.Name</p>
        Email: @member.Email
        </div>
    </div>
    <p style="clear:both;"></p>
}
</div>