﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ProjectOverview>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div>
    <h2>@Model.ProjectsTitle</h2>
    <p>@Model.ProjectsBodyText</p>
    @Umbraco.RenderMacro("list")
</div>