﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ProjectItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
    <h2>@Model.ProjectTitle</h2>
    @{
        var SelectionId = Model.GetPropertyValue<Int32>("projectStatus");
        if(@umbraco.library.GetPreValueAsString(SelectionId) == "Completed"){
            <p class="done">@umbraco.library.GetPreValueAsString(SelectionId)</p>
        }
        else {
            <p>@umbraco.library.GetPreValueAsString(SelectionId)</p>
        }
    }
<p>@Model.ProjectDescription</p>
