body, html{
background-color:#fff;
}

.header{
	width:100%;
	position:relative;
}

.nav-pos{
	margin-top:6em;
}

.header .header-img{
	width:100%;
	height:11em;
	position:absolute;
	top:0;
	left:0;
	right:0;
}

.p{
	color:white;
	margin-right:0.5em;
}

.h1{
	text-align:center;
	font-family: 'Lato', sans-serif;
	color:#fff;
	position:relative;
	top:1em;
}

h3{
	text-align:center;
	margin-bottom:0.5em;
}

.cos-footer{
	position:fixed;
	bottom:0;
	height: 3em;
	z-index:3;
}

.cos-footer p{
	text-align:center;
	vertical-align:middle;
	margin-top:0.7em;
	color:#fff;
}

.center{
	width:100%;
	min-width:50em;
	max-width:80em;
	margin: 0 auto;
}

.bottom{
	margin-bottom:5em;
	padding:1em 2em ;
}

.done{
	color:green;
}

.user{
	width:26em;
	float:left;
}

.user img{
	width:100%;
	border-radius: 50%;
}

.user p{
	font-size:1.2em;
	margin:0;
	font-weight:bold;
}

.sitemap{
	list-style:none;
}
.sitemap .lower{
	margin:0;
}

.contact-center{
	width:100%;
	min-width:20em;
	max-width:40em;
	margin: 0 auto;
}
.login-center{
	width:100%;
	min-width:15em;
	max-width:25em;
	margin: 0 auto;
}

.fl{
	float:left;
}
.fr{
	float:right;
}
.menu-login{
	float:right;
	width:12em;
	height:2em;
	margin-top:-2em;
	position:relative;
}

.logout{
	height:1.7em;
	padding:0;
	margin:0;
	width:5em;
}
.about-fix img{
	width:100%;
}

.profil {
	width:100%;
	min-width:20em;
	max-width:40em;
	margin: 0 auto;
}

.profil img{
	width:100%;
}

.profil h2{
	margin-bottom:1em;
}

.profil h3{
	margin:0.1em;	
	text-align:left;
}

.profil p{
	margin:0.3em;
	font-size:1.1em;
}
