﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Newtonsoft.Json;

@{
    var loginModel = new LoginModel();
    
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/ui/jquery.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");
}

@* NOTE: This RenderJsHere code should be put on your main template page where the rest of your script tags are placed *@
@Html.RenderJsHere()

@* starter med lave en if statement som kikker på om variablen IsLoggedIn er false *@
@if(!Members.GetCurrentLoginStatus().IsLoggedIn){
using (Html.BeginUmbracoForm<UmbLoginController>("HandleLogin"))
{
@* vis IsLoggedIn er false viser den min login form *@
    <div class="login-center">
    <h2>Login</h2>
    <fieldset>
        @* her laver vi en validering på den login model vi laved som i var i starten af siden *@
        @Html.ValidationSummary("loginModel", true)

        <div class="form-group">
            @* skriver login models variable username text ud i en labal *@
            @Html.LabelFor(m => loginModel.Username, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-12">
                @* vis valideringen kicker ind skriver den det ud her *@
                @Html.ValidationMessageFor(m => loginModel.Username)
                @* textbox input til brugernavn*@
                @Html.TextBoxFor(m => loginModel.Username, new { @class = "form-control", placeholder = "User" })
            </div>
        </div>
        <div class="form-group">
            @* skriver login models variable password text ud i en labal *@
            @Html.LabelFor(m => loginModel.Password, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-12">
                @* vis valideringen kicker ind skriver den det ud her *@
                @Html.ValidationMessageFor(m => loginModel.Password)
                @* passwordbox input til password *@
                @Html.PasswordFor(m => loginModel.Password, new { @class = "form-control", placeholder = "Password" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-12">
                @* når du klikker på knappen vil den lave et post til min login model og sammen lign brugernavn og kode fra de 2 input felter 
                men var der ligger i databasen og sætter IsLoggedIn til true vis det ikke matcher vil mine valideringer visses*@
                <button class="btn btn-primary input-medium pullleft col-sm-12">Login</button>
            </div>
        </div>
        
    </fieldset>  
    </div>
}
} @* else visses vis IsLoggedIn er true *@
else{
    @* sætter min variable member til at indeholde alle information om den bruger der er logged in *@
    var member = ApplicationContext.Services.MemberService.GetByUsername(Members.GetCurrentMember().Name);
    
    @* dette are bare profil siden *@
    <div class="profil" >
    <h2>Profil</h2>
    <div class="row">
        <div class="col-5">  
        @* getvalue gir mig inholdet fra det parameter felt jeg skriver ind kunne være 
        fx. name og det vil give mig navn på den bruger der er logged ind *@
        @if(member.GetValue("photo") != null) {
            string image = member.GetValue<string>("photo");
            if(image != null) {
                ImageCropDataSet imageCrop = JsonConvert.DeserializeObject<ImageCropDataSet>(image);
                <img src="@imageCrop.Src.GetCropUrl(width: 100)"/>
            }
        }
        </div>
        
        <div class="col-7">  
        <h3>@member.Name</h3>
        
        <p>@member.GetValue("address")</p>
        <p>
            @member.GetValue("city")
            @member.GetValue("zip")
        </p>
        <p>Email: @member.Email</p>
        <p>Skills: 
        
        @if (member.GetValue("skills") != null)
        {
            @* laver et array med brugers skills i *@
            string[] skills = member.GetValue("skills").ToString().Split(',');
    
            string skillString = 
            string.Join(", ", from skill in skills 
            select umbraco.library.GetPreValueAsString(Convert.ToInt32(skill)));
            <span>@skillString</span>
        }
        </p>
        </div>
    </div>
    <p style="clear:both;"></p>
    </div>
}
